.place__website {
  margin-bottom: 48px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: end;
}
@media screen and (max-width: 435px) {
  .place__website {
    margin: 30px 16px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}
