.place__image {
  max-height: 460px;
  max-width: 460px;
  grid-row: 2 / 5;
  grid-column: 1 / 2;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (max-width: 850px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .place__image {
    max-width: 425px;
    max-height: 425px;
    margin: 0 auto;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    object-fit: cover;
  }
}
