.cover__background {
  background-image: url(../../../images/route66.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover__background {
    min-height: 265px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
