.intro {
  margin: 92px auto 92px;
  text-align: left;
  max-width: 984px;
  width: 100%;
}

@media screen and (max-width: 1040px) {
  .intro {
    margin-left: 48px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 780px) {
  .intro {
    margin: 92px 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin: 64px 16px;
    width: calc(100% - 32px);
  }
}
